.Listbookinfo{
    display: flex;
    justify-content: center;
}
.containerListbookinfo{
    width: 1200px;
    background: rgb(226, 223, 223);
    box-sizing: 2px solid black;
    box-shadow: 10px rgb(51, 50, 50);
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-items: center;
}
.infobook{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
.imgbook{
    width: 220px;
    margin: 50px 30px 50px 80px;
}
.imgbook img {
    width: 220px;
}
.namebook{
    width: 100%;
    border-bottom: 3px inset rgb(185, 184, 184);
    text-align: center;
}
.namebook h1{
    font-size: 30px;
    font-weight: 700;
    color: rgb(20, 54, 43);

}
.listinfo{
    width: 650px;
    margin-top: 25px;
    margin-left: 50px;
}
.listinfo ul{
    width: 100%;
    list-style-type: none;
    margin: 0  ;
    padding: 0%;
    border-bottom:3px inset rgb(185, 184, 184); ;
}
.listinfo ul li {
    width: 300px;
    text-align: left;
    line-height: 20px;
    margin: 0;
    padding: 0px;
    height: 40px;
    border-bottom: 0.5px solid rgb(94, 93, 93);
}
.likeshare{
    display: flex;
}
.likeshare p{
    text-align: center;
    height: 30px;
    background-color: rgb(52, 52, 238);
    color: white;
}
.likeshare{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.likebuton button{
    background-color: rgb(52, 52, 250);
    color: white;
    margin: 5px;
    border: none;
}
.listinfo ul li p{
    font-size: 15px;
    font-weight: 550;
    color: rgb(36, 36, 36);
}
.datacontent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.datacontent{
    width: 1100px;
}
.datacontent ul {
    list-style-type: none;
    margin: 20px 0px 50px 0px;
    padding: 0;
}
.datacontent ul li p{
    font-size: 17px;
    padding-bottom: 20px;
}

.title-datacoment{
    border-bottom:0.5px solid rgb(94, 93, 93);
    height: 40px;
    width: 100%;
}
.title-datacoment p{
    color: white;
    width: 100px;
    text-align: center;
    margin: 0%;
    line-height: 40px;
}
.numbercoment{
    height: 60px;
    width: 100%;
    margin: 0px 0px 0px 10px;
}
.numbercoment p{
    line-height: 60px;
    font-size: 20px;
    font-weight: 600;
}
.tilte_comment{
    height: 40px;
    width: 100px;
    background-color:rgb(5, 73, 2);
}
.datacoment{
    width: 1100px;
}
.ant-rate-star-second {
    display: none;
}
.container-all-coment ul li{
    text-decoration: none;
    list-style-type: none;
    float: left;
    color: rgb(204, 158, 7);
}
.ant-rate-text{
    margin: 0
}
.container-all-coment{
    width: 1100px;
    display: flex;
    justify-content: center;
    border-bottom:0.2px solid rgb(155, 154, 154);
    margin-bottom: 20px;
}
.rate{
    width: 220px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.account{
    height: 150px;
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.comment-content{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-all-coment ul{
    margin: 0;
}
.ant-rate-text p{
    display: block;
    margin: 0px;
    font-weight: 600;
    color: rgb(36, 32, 27);
}
.text_comment{
    background-color: rgb(198, 207, 211);
    padding: 20px;
}
.container-acc-comment{
    width: 1100px;
    display: flex;
    justify-content: center;
}
.container-acc-comment ul li{
    text-decoration: none;
    list-style-type: none;
    float: left;
    color: rgb(248, 248, 248);
}
.container-acc-comment ul{
    margin: 0;
}
.container-acc-comment input{
    height: 40px;
    width: 1000px;
} 
.comment-post{
    display: flex;
    justify-content: center;

}.account
.container-acc-comment button{
    height: 30px;
    width: 40px;
}
.comment-content span {
    font-size: large;
    margin-bottom: 20px;
}

